body {
  font-family: 'Roboto', sans-serif; }

.ieo-flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .ieo-flex-grow-0 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
  .ieo-flex-grow-1 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }

.ieo-footer {
  background-color: #073447; }
  .ieo-footer-social {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    padding: 2px;
    color: #ffffff;
    white-space: nowrap;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .ieo-footer-social:hover {
      background-color: rgba(255, 255, 255, 0.9);
      text-decoration: none;
      color: #679C41; }

.ieo-header {
  background-color: #073142; }

.ieo-title {
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a; }
  .ieo-title.text-white {
    color: #ffffff; }

.ieo-post {
  background-color: #F2F3F5; }
  .ieo-post-item {
    border-radius: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: relative; }
    .ieo-post-item:hover .ieo-post-thumbnail img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .ieo-post-link {
    color: #4a4a4a; }
    .ieo-post-link:hover {
      text-decoration: none; }
  .ieo-post-category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    height: 40px;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .ieo-post-category.--cat-opciones-binarias .ieo-post-category-name {
      background-color: #8A74B2;
      color: #ffffff; }
      .ieo-post-category.--cat-opciones-binarias .ieo-post-category-name:hover {
        background-color: #6f579c; }
    .ieo-post-category.--cat-fx .ieo-post-category-name {
      background-color: #5ACBE3;
      color: #ffffff; }
      .ieo-post-category.--cat-fx .ieo-post-category-name:hover {
        background-color: #2ebddc; }
    .ieo-post-category-name {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 0;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .ieo-post-category-name:hover {
        text-decoration: none; }
  .ieo-post-thumbnail {
    position: relative;
    padding-bottom: 65%;
    overflow: hidden; }
    .ieo-post-thumbnail img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .ieo-post-title {
    font-size: 1.5rem;
    color: #4a4a4a; }
  .ieo-post-text {
    font-size: 1rem;
    color: #4a4a4a; }
  .ieo-post-author {
    color: #41B5E5; }
    .ieo-post-author:hover {
      color: #679c41;
      text-decoration: none; }
    .ieo-post-author-photo {
      width: 30px;
      height: 30px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%; }
    .ieo-post-author-name {
      margin: 0 2px;
      background: #ECEFF2;
      display: inline-block;
      padding: 2px 5px; }

.ieo-category {
  background-color: #ffffff;
  margin-top: 59px; }
  .ieo-category-link {
    display: inline-block;
    overflow: hidden;
    border-radius: 0;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #4a4a4a; }
    .ieo-category-link:hover {
      text-decoration: none; }
    .ieo-category-link.--cat-bo {
      background-color: #8A74B2;
      color: #ffffff;
      -webkit-box-shadow: inset 0 -2px 0 0 #6f579c;
      box-shadow: inset 0 -2px 0 0 #6f579c;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .ieo-category-link.--cat-bo:hover {
        -webkit-box-shadow: inset 0 -150px 0 0 #6f579c;
        box-shadow: inset 0 -150px 0 0 #6f579c; }
    .ieo-category-link.--green {
      background-color: #679c41;
      color: #ffffff;
      -webkit-box-shadow: inset 0 -2px 0 0 #4f7832;
      box-shadow: inset 0 -2px 0 0 #4f7832;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .ieo-category-link.--green:hover {
        -webkit-box-shadow: inset 0 -150px 0 0 #4f7832;
        box-shadow: inset 0 -150px 0 0 #4f7832; }
    .ieo-category-link.--aqua {
      background-color: #5ACBE3;
      color: #ffffff;
      -webkit-box-shadow: inset 0 -2px 0 0 #2ebddc;
      box-shadow: inset 0 -2px 0 0 #2ebddc;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .ieo-category-link.--aqua:hover {
        -webkit-box-shadow: inset 0 -150px 0 0 #2ebddc;
        box-shadow: inset 0 -150px 0 0 #2ebddc; }
    .ieo-category-link.--blue {
      background-color: #1077BD;
      color: #ffffff;
      -webkit-box-shadow: inset 0 -2px 0 0 #0c598e;
      box-shadow: inset 0 -2px 0 0 #0c598e;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      .ieo-category-link.--blue:hover {
        -webkit-box-shadow: inset 0 -150px 0 0 #0c598e;
        box-shadow: inset 0 -150px 0 0 #0c598e; }
  .ieo-category-img {
    min-width: 30%;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    .ieo-category-img img {
      width: 100%;
      height: 100%;
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover; }
  .ieo-category-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; }

.ieo-input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .ieo-input-group .ieo-input-control {
    margin: 0; }

.ieo-input-control {
  height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .ieo-input-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.ieo-input-text {
  padding: 10px 15px;
  height: 38px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  color: #4a4a4a;
  border-radius: 0; }
  .ieo-input-text.--tras-white {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0 none;
    color: #ffffff; }

.ieo-btn {
  cursor: pointer;
  background-color: white;
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4a4a4a;
  border: 0 none;
  -webkit-transition: color 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  transition: color 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
  will-change: box-shadow;
  font-weight: 700;
  border-radius: 0; }
  .ieo-btn.--green {
    background-color: #679c41;
    -webkit-box-shadow: inset 0 -1px 0 0 #4f7832;
    box-shadow: inset 0 -1px 0 0 #4f7832;
    color: #ffffff; }
    .ieo-btn.--green:hover {
      -webkit-box-shadow: inset 0 -38px 0 0 #4f7832;
      box-shadow: inset 0 -38px 0 0 #4f7832;
      color: #ffffff; }

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  text-transform: uppercase; }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #679c41;
  font-weight: 700; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #679c41;
  background-color: rgba(0, 0, 0, 0.1); }

.dropdown-menu .dropdown-wrapper {
  position: relative; }
  .dropdown-menu .dropdown-wrapper:after, .dropdown-menu .dropdown-wrapper:before {
    content: '';
    position: absolute;
    border-top: 0 none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff; }
  .dropdown-menu .dropdown-wrapper:after {
    top: -17px;
    left: 10%; }
  .dropdown-menu .dropdown-wrapper:before {
    top: -18px;
    left: 10%;
    border-bottom: 10px solid #d9d9d9; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #679c41; }

.zmdi {
  line-height: inherit; }

.container {
  max-width: 1400px; }
